<!--
filename: base.html
author: Angelina Li, 
last modified: 04/28/2018
description: basic html template that other html pages inherit from
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Better Than TutorTrac">
  <meta name="author" content="Angelina Li, Kate Kenneally and Priscilla Lee">
  {% if title %}
  <title>{{ title }} - Better Than TutorTrac</title>
  {% else %}
  <title>Better Than TutorTrac</title>
  {% endif %}

  <!-- vendor css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- custom css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="{{ url_for('index') }}">BTTT</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {{ 'active' if active_page == 'index' else '' }}">
					<a class="nav-link" href="{{ url_for('index') }}">Home</a>
				</li>
				<li class="nav-item {{ 'active' if active_page == 'test' else '' }}">
					<a class="nav-link" href="{{ url_for('test') }}">Test Page</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<div class="input-group">
					<input type="text" class="form-control border border-right-0" placeholder="Search term" name="search" id="searchBar">
					<span class="input-group-append">
						<button class="btn btn-outline-secondary border border-left-0" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
	</nav>

	<div class="container text-center">
		<!-- flashed messages -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="list-group">
		{% for m in messages %}
			<li class="list-group-item list-group-item-info">{{ m }}</li>
		{% endfor %}
		</ul>
		<br>
		{% endif %}
		{% endwith %}

		{% if title %}
		<h1 class="display-4">{{ title }}</h1>
		<br>
		{% endif %}
		{% block content %}{% endblock %}
	</div>

	<!-- footer -->
	<footer class="footer">
		<div class="container text-muted text-center">
			Written by Angelina Li, Kate Kenneally and Priscilla Lee. <a href="https://github.com/Wellesley-CS304-SP18/semester-project-betterthantutortrac">Source code here.</a>
		</div>
	</footer>

	<!-- vendor js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	
  <!-- custom js -->
  {% block js %}{% endblock %}
</body>
