{% extends "base.html" %}
{% set active_page = "newSession" %}

{% block content %}
<div class="card mx-auto card-form">
  <div class="card-body">
    <form method="POST" action="" id="newSession">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-user"></i>
          </span>
        </div>
        <input type="text" id="username" name="username" class="form-control
        border border-left-0" placeholder="Enter your Wellesley username"
        validUsername required>
      </div>
      <div class="form-group" id="username-messages">
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-graduation-cap"></i>
          </span>
        </div>
        <select class="form-control custom-select border border-left-0" id="course" 
          name="course" readonly>
          <option selected disabled>Select a course</option>
        </select>
      </div>
      <div class="form-group" id="course-messages">
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <!-- not the most intuitive icon here -->
            <i class="fas fa-users"></i> 
          </span>
        </div>
        <select class="form-control custom-select border border-left-0" id="type" 
          name="type" readonly>
          <option selected disabled>Select the type of tutoring session</option>
        </select>
      </div>
      <div class="form-group" id="type-messages">
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready( function() {

  var defaultCourseText = "Select a course";
  var defaultTypeText = "Select the type of tutoring session";
  
  function syncPost( postUrl, postData, successFunction ) {
    $.ajax({
      url: postUrl,
      type: "POST",
      data: postData,
      async: false,
      success: successFunction
    });
  }

  function validateUser (username) {
    var validateUserUrl = "/validateUser/";
    var validUser = false;
    syncPost(validateUserUrl,
      { "username": username },
      function (data) { validUser = data.validate; }
    );
    return validUser;
  }

  function getUserCourses (username) {
    var userCoursesUrl = "/getUserClasses/";
    var userCourses;
    syncPost(userCoursesUrl,
      { "username": username },
      function (data) { userCourses = data.courses; }
    );
    return userCourses;
  }

  function resetSelect (selector, disabledText) {
    $(selector).empty();
    $(selector).attr("readonly", true);
    $(selector).append(
      $("<option></option>")
        .attr("selected", true)
        .attr("disabled", true)
        .text(disabledText));
  }

  function getOption (optionValue, optionText) {
    return $("<option></option>")
      .attr("value", optionValue)
      .text(optionText);
  }

  function addUserCourses (username) {
    /* first, clear this of previous data */
    resetSelect("#course", defaultCourseText);
    
    var userCourses = getUserCourses(username);
    for (i = 0; i < userCourses.length; i++ ) {
      var course = userCourses[i];
      $("#course").append(
        getOption( course.id, course.name ));
    }
    $("#course").attr("readonly", false);
  }

  function addType () {
    resetSelect("#type", defaultTypeText);

    $("#type").attr("readonly", false);
  }

  $("#username")
    .on("input", function (event) {
        var username = $(this).val();

        if ( validateUser(username) ) {
          $("#username-messages").empty();
          addUserCourses(username);
        } else {
          resetSelect("#course", defaultCourseText);
          resetSelect("#type", defaultTypeText);

          $("#username-messages").empty();
          $("#username-messages").append(
            $("<p></p>")
              .addClass("text-error")
              .addClass("form-text")
              .text("Incorrect username"));
        }
      }
    );

});
</script>
{% endblock %}
