{% extends "base.html" %}
{% set active_page = "new_session" %}
{% set class = "CS 304" %}
{% set activity = "Helproom" %}

{% block content %}
<div class="card mx-auto card-form">
  <div class="card-body">
    <h2>Sign in to {{ class if class else department }} {{ activity }}</h2>
    <div class="input-group input-group-lg">
      <input type="text" name="search-student" id="search-student"
      class="form-control border border-right-0" placeholder="Enter Wellesley
      username or full name">
    </div>
  </div>
</div>
{% endblock %}
